.grid-row{
    outline: auto;
    height: 400px;
    margin-top: 50px;
    display: flex;
    display: flex;
    align-items: flex-start;

}
.grid-pre {
    width: 100%;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    height: 400px;
    z-index: -10 !important;
  }
.input-button-row {
    margin-bottom: 20px;
    height: 20px;
  }
  
  .ant-input {
    margin-right: 10px;
    width: 100%; /* Adjust width of the input to fit within its column */
  }
.ant-col{
  z-index: 1;
}