
.models-loaded {
    color: white;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: top;     /* Center vertically */
    height: 100vh;           /* Full viewport height */
    text-align: center;      /* Center text horizontally */
    margin: 10px;
    font-size: 25px;
  }
  