.chat-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
    background-color: #161712;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: fixed;
    bottom: 70px;
    right: 20px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #161712;
    border-radius: 5px;
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: column;
}

.message.user {
    position: relative !important;
    padding: 10px !important;
    background-color: #55230e !important;
    border-radius: 10px !important;
    margin: 10px 0 10px auto !important;
    max-width: 80% !important;
    text-align: right !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    white-space: pre-wrap !important;
    word-break: break-word !important;
}

.message.user::after {
    content: "" !important;
    position: absolute !important;
    bottom: -10px !important;
    right: 10px !important;
    border-width: 10px 10px 0 !important;
    border-style: solid !important;
    border-color: #55230e transparent transparent transparent !important;
}

.message.ai {
    position: relative;
    padding: 10px;
    background-color: #1e290b;
    border-radius: 10px;
    margin: 10px auto 10px 0;
    max-width: 80%;
    text-align: left;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    white-space: pre-wrap !important;
    word-break: break-word !important;
}

.message.ai::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #1e290b transparent transparent transparent;
}

.error-message {
    color: #dc3545;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

textarea {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #262725;
    max-height: 150px;
    overflow-y: auto;
    resize: none;
    color: #afa571;
}
.selected-model{
    color: #afa571;
}
button{
    color: #afa571;
    border: 1px solid white;
    background-color: #262725;
    border-radius: 5px;
    height: 30px
}
.refresh{
    color: white;
}