.chat-container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
    background-color: #f0f1f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: fixed;
    bottom: 70px;
    right: 20px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.chat-messages {
    flex: 1;
    overflow-y: auto; /* Vertical scrolling */
    overflow-x: hidden; /* Hide horizontal overflow */
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    z-index: 100;
    position: relative;
    display: flex; /* Ensure children are flex items */
    flex-direction: column; /* Arrange messages vertically */
}

.message {
    word-wrap: break-word; /* Ensure long words are wrapped */
    overflow-wrap: break-word; /* Ensure long words are wrapped */
}

.message.user {
    position: relative !important;
    padding: 10px !important;
    background-color: #d1e7dd !important;
    border-radius: 10px !important;
    margin: 10px 0 10px auto !important; /* Align to the right */
    max-width: 80% !important;
    text-align: right !important;
    word-wrap: break-word; /* Ensure long words are wrapped */
    overflow-wrap: break-word; /* Ensure long words are wrapped */
}

.message.user::after {
    content: "" !important;
    position: absolute !important;
    bottom: -10px !important;
    right: 10px !important;
    border-width: 10px 10px 0 !important;
    border-style: solid !important;
    border-color: #d1e7dd transparent transparent transparent !important;
}

.message.ai {
    position: relative;
    padding: 10px;
    background-color: #f8d7da;
    border-radius: 10px;
    margin: 10px auto 10px 0; /* Align to the left */
    max-width: 80%;
    text-align: left;
    word-wrap: break-word !important; /* Ensure long words are wrapped */
    overflow-wrap: break-word !important; /* Ensure long words are wrapped */
}

.message.ai::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #f8d7da transparent transparent transparent;
}

.error-message {
    color: #dc3545;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
textarea{
        flex: 1;
        margin-right: 10px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        max-height: 150px; /* Set your desired maximum height */
        overflow-y: auto; /* Enable vertical scroll if content exceeds max height */
        resize: none; /* Disable manual resize by the user */  
}